In [1]:
import whyqd as _w
details = {
    "name":"HDR_2007-2008_Table_09_Shema",
    "title":"Shema de HDR 2007-2008 Table 09",
    "description":"données sur les principales crises et risques sanitaires mondiaux receuilli par ONUSIDA,OMS et LA Banque Mondiale"
    
}
schema = _w.Schema()
schema.set_details(**details)

In [2]:
fields = [
    {
        "name": "Country Name",
        "title": "Country Name",
        "type": "string",
        "description": "Official country names.",
        "constraints": {
            "required": True
        }
    },
    {
        "name": "HDI Category",
        "title": "HDI Category",
        "type": "string",
        "description": "Human Development Index Category derived from the HDI Rank.",
    },
    {
        "name": "Indicator Name",
        "title": "Indicator Name",
        "type": "string",
        "description": "Indicator described in the data series.",
    },
    {
        "name": "Reference",
        "title": "Reference",
        "type": "string",
        "description": "Reference to data source.",
    },
    {
        "name": "Year",
        "title": "Year",
        "type": "year",
        "description": "Year of release.",
    },
    {
        "name": "Values",
        "title": "Values",
        "type": "number",
        "description": "Value for the Year and Indicator Name.",
        "constraints": {
            "required": True
        }
    },
]

In [3]:
for field in fields:
    schema.set_field(**field)

In [4]:
schema.field("country_name")

{'name': 'country_name',
 'type': 'string',
 'constraints': {'required': True},
 'title': 'Country Name',
 'description': 'Official country names.'}

In [6]:
directory = "dossier_shema/"
# vous pouvez également spécifier un nom de fichier facultatif
# si vous l'omettez, le nom du fichier sera par défaut le nom du schéma
filename = "HDR_2007-2008_Table_09_Shema"
# si le fichier existe déjà, vous devrez spécifier "overwrite=True" sinon vous obtiendrez une erreur
schema.save(directory, filename=filename, overwrite=True)

True

In [11]:
ls

 dossier_shema/  'HDR 2007-2008 Table 09.xlsx'   SCRIPT_EXERCICE.ipynb

In [13]:
### Les importations et paramètres suivants vous permettent d'obtenir un large éventail de résultats pour vos tableaux
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

import numpy as np
import whyqd as _w

SCHEMA_SOURCE = "dossier_shema/HDR_2007-2008_Table_09_Shema.json"
DIRECTORY = '.'
INPUT_DATA = [
    "HDR 2007-2008 Table 09.xlsx"
]
method = _w.Method(SCHEMA_SOURCE, directory=DIRECTORY, input_data=INPUT_DATA)

In [14]:
print(method.print_input_data())

Data id: d80a3477-a269-4d34-96d9-c9530c2f07d4
Original source: HDR 2007-2008 Table 09.xlsx

====  ========================================  ============  ============  =====================================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..  Unnamed: 0                                  Unnamed: 1    Unnamed: 2    … to lead a long and healthy life …    Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24    Unnamed: 25    Unnamed: 26    Unnamed: 27    Unnamed: 28    Unnamed: 29    Unnamed: 30
====  ========================================  ============  ============  =====================================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0  nan                                                nan           nan                                    nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1  9 Leading global health crises and risks           nan           nan                                    nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2  nan                                                nan           nan                                    nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ========================================  ============  ============  =====================================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============

In [15]:
method.default_morph_types

['CATEGORISE', 'DEBLANK', 'DEDUPE', 'DELETE', 'MELT', 'REBASE', 'RENAME']

In [16]:
# Utilisez _id, ou une autre variable, puisque `id` est un terme protégé par Python
_id = method.input_data[0]["id"]
df = method.input_dataframe(_id)
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,… to lead a long and healthy life …,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9 Leading global health crises and risks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,HIV prevalencea (% aged 15-49),NaN,NaN,NaN,NaN,NaN,MDG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,NaN,Antimalarial measures,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,Condom use at last high-risk sexb\n(% aged 15-24),NaN,NaN,NaN,Use of insecticide— treated \nbednets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,HDI rank,NaN,NaN,NaN,NaN,Women,NaN,Men,NaN,(% of children under five),...,Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,2006,NaN,1999-2005g,NaN,1999-2005g,NaN,1999-2005g,...,2002-04g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,NaN,0.2 [0.1–0.3],NaN,..,NaN,..,NaN,..,...,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
method.add_input_data_morph(_id, ["REBASE", 7])

In [18]:
df.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,… to lead a long and healthy life …,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,a. Data are point and range estimates based on...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,SOURCES\nColumn 1: UNAIDS 2006.\nColumns 2–5: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# On obtient la valeur du dernier élément de l'index, puis on ajoute 1 pour créer l'intervalle
rows = [int(i) for i in np.arange(193, df.index[-1]+1)]
method.add_input_data_morph(_id, ["DELETE", rows])

In [20]:
method.input_dataframe(_id).head()

,NaN,NaN,2006,1999-2005g,NaN,1999-2005g,NaN,1999-2005g,NaN,1999-2005g,2005,NaN,2005,NaN,2004,NaN,2002-04g,NaN,2002-04g,NaN
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,0.2 [0.1–0.3],..,NaN,..,NaN,..,NaN,..,2,NaN,53,NaN,50,NaN,20,NaN,25,NaN
10,2,Norway,0.1 [0.1–0.2],..,NaN,..,NaN,..,NaN,..,4,NaN,44,NaN,89,NaN,25,NaN,27,NaN
11,3,Australia,0.1 [<0.2],..,NaN,..,NaN,..,NaN,..,6,NaN,42,NaN,85,NaN,16,NaN,19,NaN
12,4,Canada,0.3 [0.2–0.5],..,NaN,..,NaN,..,NaN,..,4,NaN,64,NaN,62,NaN,17,NaN,22,NaN

In [21]:
method.input_dataframe(_id).tail()

,NaN,NaN,2006,1999-2005g,NaN,1999-2005g,NaN,1999-2005g,NaN,1999-2005g,2005,NaN,2005,NaN,2004,NaN,2002-04g,NaN,2002-04g,NaN
183,173,Mali,1.7 [1.3–2.1],14,NaN,30,NaN,8,NaN,38,578,NaN,21,NaN,71,NaN,..,NaN,..,NaN
184,174,Niger,1.1 [0.5–1.9],7,j,30,j,6,NaN,48,294,NaN,50,NaN,61,NaN,..,NaN,..,NaN
185,175,Guinea-Bissau,3.8 [2.1–6.0],..,NaN,..,NaN,7,NaN,58,293,NaN,79,NaN,75,NaN,..,NaN,..,NaN
186,176,Burkina Faso,2 [1.5–2.5],54,NaN,67,NaN,2,NaN,50,461,NaN,18,NaN,67,NaN,..,NaN,..,NaN
187,177,Sierra Leone,1.6 [0.9–2.4],..,NaN,..,NaN,2,NaN,61,905,NaN,37,NaN,82,NaN,..,NaN,..,NaN

In [22]:
columns = [
    "HDI rank",
    "Country",
    "HIV prevalencea (% aged 15-49) 2006",
    "Condom use at last high-risk sex Women 1999-2005",
    "Reference 1",
    "Condom use at last high-risk sex Men 1999-2005",
    "Reference 2",
    "Antimalarial measures Use of insecticide— treated (% of children under five) 1999-2005",
    "Reference 3",
    "Antimalarial measures Fevers treated with antimalarial drugs (% of children under five) 1999-2005",
    "Tuberculosis cases Prevalence (per 100,000 people) 2005 ",
    "Reference 4",
    "Tuberculosis cases Detected under DOTSd 2005",
    "Reference 5",
    "Tuberculosis cases Cured under DOTSe 2004",
    "Reference 6",
    "Prevalence of smoking Women 2002-04",
    "Reference 7",
    "Prevalence of smoking Men 2002-04",
    "Reference 8"
]

In [23]:
method.add_input_data_morph(_id, ["RENAME", columns])

In [24]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,… to lead a long and healthy life …,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9 Leading global health crises and risks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,HIV prevalencea (% aged 15-49),NaN,NaN,NaN,NaN,NaN,MDG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,NaN,Antimalarial measures,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,Condom use at last high-risk sexb\n(% aged 15-24),NaN,NaN,NaN,Use of insecticide— treated \nbednets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,HDI rank,NaN,NaN,NaN,NaN,Women,NaN,Men,NaN,(% of children under five),...,Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,2006,NaN,1999-2005g,NaN,1999-2005g,NaN,1999-2005g,...,2002-04g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,NaN,0.2 [0.1–0.3],NaN,..,NaN,..,NaN,..,...,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
method.input_dataframe(_id).head()

,HDI rank,Country,HIV prevalencea (% aged 15-49) 2006,Condom use at last high-risk sex Women 1999-2005,Reference 1,Condom use at last high-risk sex Men 1999-2005,Reference 2,Antimalarial measures Use of insecticide— treated (% of children under five) 1999-2005,Reference 3,Antimalarial measures Fevers treated with antimalarial drugs (% of children under five) 1999-2005,"Tuberculosis cases Prevalence (per 100,000 people) 2005",Reference 4,Tuberculosis cases Detected under DOTSd 2005,Reference 5,Tuberculosis cases Cured under DOTSe 2004,Reference 6,Prevalence of smoking Women 2002-04,Reference 7,Prevalence of smoking Men 2002-04,Reference 8
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,0.2 [0.1–0.3],..,NaN,..,NaN,..,NaN,..,2,NaN,53,NaN,50,NaN,20,NaN,25,NaN
10,2,Norway,0.1 [0.1–0.2],..,NaN,..,NaN,..,NaN,..,4,NaN,44,NaN,89,NaN,25,NaN,27,NaN
11,3,Australia,0.1 [<0.2],..,NaN,..,NaN,..,NaN,..,6,NaN,42,NaN,85,NaN,16,NaN,19,NaN
12,4,Canada,0.3 [0.2–0.5],..,NaN,..,NaN,..,NaN,..,4,NaN,64,NaN,62,NaN,17,NaN,22,NaN

In [26]:
df = method.input_dataframe(_id)
df.head()

,HDI rank,Country,HIV prevalencea (% aged 15-49) 2006,Condom use at last high-risk sex Women 1999-2005,Reference 1,Condom use at last high-risk sex Men 1999-2005,Reference 2,Antimalarial measures Use of insecticide— treated (% of children under five) 1999-2005,Reference 3,Antimalarial measures Fevers treated with antimalarial drugs (% of children under five) 1999-2005,"Tuberculosis cases Prevalence (per 100,000 people) 2005",Reference 4,Tuberculosis cases Detected under DOTSd 2005,Reference 5,Tuberculosis cases Cured under DOTSe 2004,Reference 6,Prevalence of smoking Women 2002-04,Reference 7,Prevalence of smoking Men 2002-04,Reference 8
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,0.2 [0.1–0.3],..,NaN,..,NaN,..,NaN,..,2,NaN,53,NaN,50,NaN,20,NaN,25,NaN
10,2,Norway,0.1 [0.1–0.2],..,NaN,..,NaN,..,NaN,..,4,NaN,44,NaN,89,NaN,25,NaN,27,NaN
11,3,Australia,0.1 [<0.2],..,NaN,..,NaN,..,NaN,..,6,NaN,42,NaN,85,NaN,16,NaN,19,NaN
12,4,Canada,0.3 [0.2–0.5],..,NaN,..,NaN,..,NaN,..,4,NaN,64,NaN,62,NaN,17,NaN,22,NaN

In [27]:
# Obtenir les indices des lignes de données catégorielles
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
rows = df[df["HDI rank"].isin(hdi_categories)].index

In [28]:
method.default_morph_settings("CATEGORISE")

{'name': 'CATEGORISE',
 'title': 'Categorise',
 'type': 'morph',
 'description': 'Convert row-level categories into column categorisations.',
 'structure': ['rows', 'column_names']}

In [29]:
method.add_input_data_morph(_id, ["CATEGORISE",list(rows), "HDI category"])

In [30]:
list(rows)

[8, 79, 165]

In [31]:
df=method.input_dataframe(_id)
df.head(10)

,HDI rank,Country,HIV prevalencea (% aged 15-49) 2006,Condom use at last high-risk sex Women 1999-2005,Reference 1,Condom use at last high-risk sex Men 1999-2005,Reference 2,Antimalarial measures Use of insecticide— treated (% of children under five) 1999-2005,Reference 3,Antimalarial measures Fevers treated with antimalarial drugs (% of children under five) 1999-2005,...,Reference 4,Tuberculosis cases Detected under DOTSd 2005,Reference 5,Tuberculosis cases Cured under DOTSe 2004,Reference 6,Prevalence of smoking Women 2002-04,Reference 7,Prevalence of smoking Men 2002-04,Reference 8,HDI category
9,1,Iceland,0.2 [0.1–0.3],..,NaN,..,NaN,..,NaN,..,...,NaN,53,NaN,50,NaN,20,NaN,25,NaN,HIGH HUMAN DEVELOPMENT
10,2,Norway,0.1 [0.1–0.2],..,NaN,..,NaN,..,NaN,..,...,NaN,44,NaN,89,NaN,25,NaN,27,NaN,HIGH HUMAN DEVELOPMENT
11,3,Australia,0.1 [<0.2],..,NaN,..,NaN,..,NaN,..,...,NaN,42,NaN,85,NaN,16,NaN,19,NaN,HIGH HUMAN DEVELOPMENT
12,4,Canada,0.3 [0.2–0.5],..,NaN,..,NaN,..,NaN,..,...,NaN,64,NaN,62,NaN,17,NaN,22,NaN,HIGH HUMAN DEVELOPMENT
13,5,Ireland,0.2 [0.1–0.4],..,NaN,..,NaN,..,NaN,..,...,NaN,0,NaN,..,NaN,26,NaN,28,NaN,HIGH HUMAN DEVELOPMENT
14,6,Sweden,0.2 [0.1–0.3],..,NaN,..,NaN,..,NaN,..,...,NaN,56,NaN,64,NaN,18,NaN,17,NaN,HIGH HUMAN DEVELOPMENT
15,7,Switzerland,0.4 [0.3–0.8],..,NaN,..,NaN,..,NaN,..,...,NaN,0,NaN,..,NaN,23,NaN,27,NaN,HIGH HUMAN DEVELOPMENT
16,8,Japan,<0.1 [<0.2],..,NaN,..,NaN,..,NaN,..,...,NaN,57,NaN,57,NaN,15,NaN,47,NaN,HIGH HUMAN DEVELOPMENT
17,9,Netherlands,0.2 [0.1–0.4],..,NaN,..,NaN,..,NaN,..,...,NaN,47,NaN,83,NaN,28,NaN,36,NaN,HIGH HUMAN DEVELOPMENT
18,10,France,0.4 [0.3–0.8],..,NaN,..,NaN,..,NaN,..,...,NaN,0,h,..,NaN,21,NaN,30,NaN,HIGH HUMAN DEVELOPMENT

In [32]:
# Sélectionnez toutes les colonnes à "melt"
columns_1 = ["HDI rank",
    "HIV prevalencea (% aged 15-49) 2006",
    "Condom use at last high-risk sex Women 1999-2005",
    "Condom use at last high-risk sex Men 1999-2005",
    "Antimalarial measures Use of insecticide— treated (% of children under five) 1999-2005",
    "Antimalarial measures Fevers treated with antimalarial drugs (% of children under five) 1999-2005",
    "Tuberculosis cases Prevalence (per 100,000 people) 2005 ",
    "Tuberculosis cases Detected under DOTSd 2005",
    "Tuberculosis cases Cured under DOTSe 2004",
    "Prevalence of smoking Women 2002-04",
    "Prevalence of smoking Men 2002-04",

   
]
method.add_input_data_morph(_id, ["MELT", columns_1, ["Indicator Name", "Indicator Value"]])

In [33]:
columns_2 = [
    "Reference 1",
    "Reference 2",
    "Reference 3",
    "Reference 4",
    "Reference 5",
    "Reference 6",
    "Reference 7",
    "Reference 8",
]
method.add_input_data_morph(_id, ["MELT", columns_2, ["Reference Name", "Reference"]])

In [34]:
method.add_input_data_morph(_id, ["DEBLANK"])

In [35]:
df = method.input_dataframe(_id)
df.head(200)

,HDI category,Indicator Value,Country,Indicator Name,Reference Name,Reference
0,HIGH HUMAN DEVELOPMENT,1,Iceland,HDI rank,Reference 1,NaN
1,HIGH HUMAN DEVELOPMENT,2,Norway,HDI rank,Reference 1,NaN
2,HIGH HUMAN DEVELOPMENT,3,Australia,HDI rank,Reference 1,NaN
3,HIGH HUMAN DEVELOPMENT,4,Canada,HDI rank,Reference 1,NaN
4,HIGH HUMAN DEVELOPMENT,5,Ireland,HDI rank,Reference 1,NaN
...,...,...,...,...,...,...
195,HIGH HUMAN DEVELOPMENT,0.1 [<0.2],New Zealand,HIV prevalencea (% aged 15-49) 2006,Reference 1,NaN
196,HIGH HUMAN DEVELOPMENT,0.5 [0.3–0.9],Italy,HIV prevalencea (% aged 15-49) 2006,Reference 1,NaN
197,HIGH HUMAN DEVELOPMENT,..,"Hong Kong, China (SAR)",HIV prevalencea (% aged 15-49) 2006,Reference 1,NaN
198,HIGH HUMAN DEVELOPMENT,0.1 [0.1–0.2],Germany,HIV prevalencea (% aged 15-49) 2006,Reference 1,NaN
199,HIGH HUMAN DEVELOPMENT,[<0.2],Israel,HIV prevalencea (% aged 15-49) 2006,Reference 1,NaN

In [36]:
print(method.help("merge"))

`merge` will join, in order from right to left, your input data on a common column.

To add input data, where `input_data` is a filename, or list of filenames:

	>>> method.add_input_data(input_data)

To remove input data, where `id` is the unique id for that input data:

	>>> method.remove_input_data(id)

Prepare an `order_and_key` list, where each dict in the list has:

	{{id: input_data id, key: column_name for merge}}

Run the merge by calling (and, optionally - if you need to overwrite an existing merge - setting
`overwrite_working=True`):

	>>> method.merge(order_and_key, overwrite_working=True)

To view your existing `input_data`:

	>>> method.input_data


Data id: d80a3477-a269-4d34-96d9-c9530c2f07d4
Original source: HDR 2007-2008 Table 09.xlsx

====  ========================================  ============  ============  =====================================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..  Unnamed: 0                                  Unnamed: 1    Unnamed: 2    … to lead a long and healthy life …    Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24    Unnamed: 25    Unnamed: 26    Unnamed: 27    Unnamed: 28    Unnamed: 29    Unnamed: 30
====  ========================================  ============  ============  =====================================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0  nan                                                nan           nan                                    nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1  9 Leading global health crises and risks           nan           nan                                    nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2  nan                                                nan           nan                                    nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ========================================  ============  ============  =====================================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============


Current method status: `Ready to Merge`

In [37]:
%time method.merge(overwrite_working=True)

CPU times: user 5.99 s, sys: 49.2 ms, total: 6.04 s
Wall time: 6.34 s

In [38]:
print(method.help("structure"))

`structure` is the core of the wrangling process and is the process where you define the actions
which must be performed to restructure your working data.

Create a list of methods of the form:

	{
		"schema_field1": ["action", "column_name1", ["action", "column_name2"]],
		"schema_field2": ["action", "column_name1", "modifier", ["action", "column_name2"]],
	}

The format for defining a `structure` is as follows::

	[action, column_name, [action, column_name]]

e.g.::

	["CATEGORISE", "+", ["ORDER", "column_1", "column_2"]]

This permits the creation of quite expressive wrangling structures from simple building
blocks.

The schema for this method consists of the following terms:

['country_name', 'hdi_category', 'indicator_name', 'reference', 'year', 'values']

The actions:

['CALCULATE', 'CATEGORISE', 'JOIN', 'NEW', 'ORDER', 'ORDER_NEW', 'ORDER_OLD', 'RENAME']

The columns from your working data:

['HDI category', 'Indicator Value', 'Country', 'Indicator Name', 'Reference Name', 'Reference']


Data id: working_ff168508-a458-4537-9e11-c1f7a3a854cf
Original source: method.input_data

====  ======================  =================  =========  ================  ================  ===========
  ..  HDI category              Indicator Value  Country    Indicator Name    Reference Name      Reference
====  ======================  =================  =========  ================  ================  ===========
   0  HIGH HUMAN DEVELOPMENT                  1  Iceland    HDI rank          Reference 1               nan
   1  HIGH HUMAN DEVELOPMENT                  2  Norway     HDI rank          Reference 1               nan
   2  HIGH HUMAN DEVELOPMENT                  3  Australia  HDI rank          Reference 1               nan
====  ======================  =================  =========  ================  ================  ===========


Current method status: `Ready to Structure`

In [39]:
structure = {
    "country_name": ["RENAME", "Country"],
    "hdi_category": ["RENAME", "HDI category"],
    "indicator_name": ["RENAME", "Indicator Name"],
    "values": ["RENAME", "Indicator Value"],
}

In [40]:
structure

{'country_name': ['RENAME', 'Country'],
 'hdi_category': ['RENAME', 'HDI category'],
 'indicator_name': ['RENAME', 'Indicator Name'],
 'values': ['RENAME', 'Indicator Value']}

In [41]:
# Notez le "**" au début du nom du paramètre
# Ceci "dépaquette"  le dictionnaire de sorte que tous les termes soient visibles pour la fonction
method.set_structure(**structure)

In [42]:
method.transform(overwrite_output=True)
FILENAME = "HDR 2007-2008 Table 09"
method.save(directory, filename=FILENAME, overwrite=True)

In [43]:
method.input_data_morphs(_id)

[{'bf1ce721-dd89-4901-9a4f-d76977feee3f': ['DEBLANK']},
 {'e5543911-f8ce-4295-b9f9-62cc2474a86d': ['DEDUPE']},
 {'9e2e19b2-cd1e-4912-918f-be332ac4fa93': ['REBASE', [7]]},
 {'4fa85b93-2f43-4c58-959f-e3f510188899': ['DELETE',
   [193, 194, 195, 196, 197, 198]]},
 {'bfe4c326-c0a6-4a0e-95f3-414c6c126fbf': ['RENAME',
   ['HDI rank',
    'Country',
    'HIV prevalencea (% aged 15-49) 2006',
    'Condom use at last high-risk sex Women 1999-2005',
    'Reference 1',
    'Condom use at last high-risk sex Men 1999-2005',
    'Reference 2',
    'Antimalarial measures Use of insecticide— treated (% of children under five) 1999-2005',
    'Reference 3',
    'Antimalarial measures Fevers treated with antimalarial drugs (% of children under five) 1999-2005',
    'Tuberculosis cases Prevalence (per 100,000 people) 2005 ',
    'Reference 4',
    'Tuberculosis cases Detected under DOTSd 2005',
    'Reference 5',
    'Tuberculosis cases Cured under DOTSe 2004',
    'Reference 6',
    'Prevalence of smoking Women 2002-04',
    'Reference 7',
    'Prevalence of smoking Men 2002-04',
    'Reference 8']]},
 {'014fd5ee-653a-4dd4-a497-416743a5ef82': ['CATEGORISE',
   [8, 79, 165],
   ['HDI category']]},
 {'a814c63b-8427-4434-9a93-dfb63cde24ed': ['MELT',
   [['Reference 3',
     'Reference 7',
     'Reference 5',
     'Reference 1',
     'Reference 2',
     'Reference 4',
     'Country',
     'Reference 6',
     'HDI category',
     'Reference 8'],
    ['HDI rank',
     'HIV prevalencea (% aged 15-49) 2006',
     'Condom use at last high-risk sex Women 1999-2005',
     'Condom use at last high-risk sex Men 1999-2005',
     'Antimalarial measures Use of insecticide— treated (% of children under five) 1999-2005',
     'Antimalarial measures Fevers treated with antimalarial drugs (% of children under five) 1999-2005',
     'Tuberculosis cases Prevalence (per 100,000 people) 2005 ',
     'Tuberculosis cases Detected under DOTSd 2005',
     'Tuberculosis cases Cured under DOTSe 2004',
     'Prevalence of smoking Women 2002-04',
     'Prevalence of smoking Men 2002-04']],
   ['Indicator Name', 'Indicator Value']]},
 {'cddb9051-1e07-4d06-9820-ffc501d23009': ['MELT',
   [['HDI category', 'Indicator Value', 'Country', 'Indicator Name'],
    ['Reference 1',
     'Reference 2',
     'Reference 3',
     'Reference 4',
     'Reference 5',
     'Reference 6',
     'Reference 7',
     'Reference 8']],
   ['Reference Name', 'Reference']]},
 {'b041061c-ff4d-4420-beb7-dff0ade3bbbe': ['DEBLANK']}]

In [44]:
%time method.validates

CPU times: user 5.34 s, sys: 67.8 ms, total: 5.41 s
Wall time: 5.5 s

True